
body 
{
    background-size: cover;
}

.heading {
    box-shadow: inset;
    font-size: 23px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.note {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

body {
    background-size: cover;
}

canvas
{
    border: 5px solid brown;
    border-radius: 20px;
}